TOKEN = ""
BOT_NAME = ""
OWNER_ID = ""
PREFIX = ","
PLAYING = ""

EMBED_COLOR = "#6f6fff"

DEFAULT_VOLUME = 50
MAX_VOLUME = 100
AUTO_LEAVE = true
AUTO_LEAVE_COOLDOWN = 5000
DISPLAY_VOICE_STATE = true
PORT = 33333

TEXT_QUERY_TYPE = "spotifySearch"
URL_QUERY_TYPE = "auto"
DP_FORCE_YTDL_MOD = "@distube/ytdl-core"

MONGO_URL = ""

WORK_COOLDOWN = 10000